# instalando librerias

In [1]:
import pandas as pd
import numpy as np
import ast
import json

In [2]:
#traigo el json con los juegos
df_games = pd.read_json('../PI MLOps - STEAM/output_steam_games.json', lines=True)

In [3]:
df_games.head(2)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None

eliminar vacios

In [4]:
#elimina todas las filas totalmente vacias
df_games = df_games.dropna(how='all')

In [5]:
df_games.head(2)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,0.0,643980.0,Secret Level SRL

In [6]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32135 entries, 88310 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  float64
 11  id            32133 non-null  float64
 12  developer     28836 non-null  object
dtypes: float64(2), object(11)
memory usage: 3.4+ MB

eliminar columnas que no se van a usar

In [23]:
#quito las columnas que no planeo usar de mi df

columns_to_remove = ["title", "url", "reviews_url", "early_access", "publisher",'tags']
df_games = df_games.drop(columns=columns_to_remove)

In [8]:
#reseteo el indice
df_games = df_games.reset_index(drop=True)

In [9]:
df_games.head(2)

,genres,app_name,release_date,tags,specs,price,id,developer
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",[Single-player],4.99,761140.0,Kotoshiro
1,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...","[Single-player, Multi-player, Online Multi-Pla...",Free To Play,643980.0,Secret Level SRL

guardar nuevo csv

In [10]:
#guardo el df final
df_games.to_csv('../fastapi/juegos_sin_separar.csv', index=False)

In [11]:
df_games=pd.read_csv('../fastapi/juegos_sin_separar.csv')

In [14]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        28852 non-null  object
 1   app_name      32133 non-null  object
 2   release_date  30068 non-null  object
 3   tags          31972 non-null  object
 4   specs         31465 non-null  object
 5   price         30758 non-null  object
 6   id            32133 non-null  float64
 7   developer     28836 non-null  object
dtypes: float64(1), object(7)
memory usage: 2.0+ MB

eliminar nulos

In [19]:
#elimino los nulos solo si afectan a las 3 al mismo tiempo, ya que son las que afectan en las funciones.
df_games.dropna(subset=['genres', 'release_date', 'developer'], how='all', inplace=True)

In [20]:
df_games.head(2)

,genres,app_name,release_date,tags,specs,price,id,developer
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",['Single-player'],4.99,761140.0,Kotoshiro
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...","['Single-player', 'Multi-player', 'Online Mult...",Free To Play,643980.0,Secret Level SRL

reasignar años

In [17]:
#cambiar los año a año y poner los errores o vacios como 1900
df_games['release_date'] = pd.to_datetime(df_games['release_date'], errors='coerce')
df_games['release_date'] = df_games['release_date'].dt.year.fillna(1900).astype(int)

C:\Users\lgtqa\AppData\Local\Temp\ipykernel_12436\1599768629.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_games['release_date'] = pd.to_datetime(df_games['release_date'], errors='coerce')

In [24]:
df_games.head()

,genres,app_name,release_date,specs,price,id,developer
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018,['Single-player'],4.99,761140.0,Kotoshiro
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018,"['Single-player', 'Multi-player', 'Online Mult...",Free To Play,643980.0,Secret Level SRL
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017,"['Single-player', 'Multi-player', 'Online Mult...",Free to Play,670290.0,Poolians.com
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,2017,['Single-player'],0.99,767400.0,彼岸领域
5,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018,"['Single-player', 'Steam Achievements']",3.99,772540.0,Trickjump Games Ltd

guardando el nuevo

In [ ]:
#guardo el df final
df_games.to_csv('../fastapi/juegos_quitando_extras.csv', index=False)

In [78]:
df_games=pd.read_csv('../fastapi/juegos_quitando_extras.csv')

In [79]:
df_games.head()

,genres,app_name,release_date,specs,price,id,developer
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018,['Single-player'],4.99,761140.0,Kotoshiro
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018,"['Single-player', 'Multi-player', 'Online Mult...",Free To Play,643980.0,Secret Level SRL
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017,"['Single-player', 'Multi-player', 'Online Mult...",Free to Play,670290.0,Poolians.com
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,2017,['Single-player'],0.99,767400.0,彼岸领域
4,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018,"['Single-player', 'Steam Achievements']",3.99,772540.0,Trickjump Games Ltd

convertir precios gratuitos a 0 y asigno valor negativo a los Nulos

In [80]:
# función que convierte un valor a float y devolverá 0 si falla
def convert_to_float(value):
    try:
        return float(value)
    except (ValueError, TypeError):
        return 0.0

# Aplica la función a la columna 'price' del DataFrame
df_games['price'] = df_games['price'].apply(lambda x: convert_to_float(x))
df_games['price'] = df_games['price'].fillna(-10)

In [81]:
df_games.head()

,genres,app_name,release_date,specs,price,id,developer
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018,['Single-player'],4.99,761140.0,Kotoshiro
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018,"['Single-player', 'Multi-player', 'Online Mult...",0.00,643980.0,Secret Level SRL
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017,"['Single-player', 'Multi-player', 'Online Mult...",0.00,670290.0,Poolians.com
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,2017,['Single-player'],0.99,767400.0,彼岸领域
4,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018,"['Single-player', 'Steam Achievements']",3.99,772540.0,Trickjump Games Ltd

Nuevos dataframes para generos y specs para usar en ML

In [82]:
df_games = df_games.dropna(subset=['id'])
df_games['genres']=df_games['genres'].fillna('['']')
df_games['specs']=df_games['specs'].fillna('['']')

In [92]:
# Crear una copia del DataFrame original
genres_games_df = df_games[['id','genres']].copy()
# Convertir el contenido de la columna 'genres' a listas de Python
genres_games_df['genres'] = genres_games_df['genres'].apply(ast.literal_eval)
# Obtener una lista de todos los géneros únicos en el DataFrame
unique_genres = set()
for genres in genres_games_df['genres']:
    if isinstance(genres, list):
        unique_genres.update(genres)
# Crear columnas dummy para cada género único
for genre in unique_genres:
    genres_games_df[genre] = genres_games_df['genres'].apply(lambda x: 1 if genre in x else 0)
genres_games_df=genres_games_df.drop(['genres'],axis=1)

In [93]:
genres_games_df.head()

,id,Early Access,Video Production,Free to Play,Audio Production,Massively Multiplayer,Utilities,Strategy,Design &amp; Illustration,Education,...,RPG,Adventure,Web Publishing,Casual,Indie,Photo Editing,Action,Sports,Accounting,Animation &amp; Modeling
0,761140.0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,1,0,1,0,0,0
1,643980.0,0,0,1,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
2,670290.0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,1,0,0,1,0,0
3,767400.0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,0
4,772540.0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [94]:
# Crear una copia del DataFrame original
specs_games_df = df_games[['id','specs']].copy()
# Convertir el contenido de la columna 'specs' a listas de Python
specs_games_df['specs'] = specs_games_df['specs'].apply(ast.literal_eval)
# Obtener una lista de todos los géneros únicos en el DataFrame
unique_specs = set()
for specs in specs_games_df['specs']:
    if isinstance(specs, list):
        unique_specs.update(specs)
# Crear columnas dummy para cada género único
for genre in unique_specs:
    specs_games_df[genre] = specs_games_df['specs'].apply(lambda x: 1 if genre in x else 0)
specs_games_df=specs_games_df.drop(['specs'],axis=1)

In [95]:
specs_games_df.head()

,id,Full controller support,Local Multi-Player,Local Co-op,Game demo,MMO,Cross-Platform Multiplayer,Co-op,SteamVR Collectibles,Captions available,...,Steam Achievements,Includes level editor,Mods,Online Co-op,Steam Workshop,Partial Controller Support,Mods (require HL1),Mods (require HL2),Single-player,Shared/Split Screen
0,761140.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,643980.0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,670290.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,767400.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,772540.0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0

reduccion de dimensionalidad

In [101]:
# Sumar las columnas y crear un DataFrame
onlygenres=genres_games_df.drop(['id'],axis=1)
genres_sum_df = onlygenres.sum().reset_index()
genres_sum_df.columns = ['Genre', 'Count']
# Convertir la columna "Count" a valores numéricos
genres_sum_df['Count'] = pd.to_numeric(genres_sum_df['Count'], errors='coerce')
# Ordenar el DataFrame por la columna "Count" de forma descendente
sorted_genres_df = genres_sum_df.sort_values(by='Count', ascending=False)
# Obtener los 20 géneros más comunes y sus recuentos
top_20_genres = sorted_genres_df.head(20)
# Calcular el porcentaje de aparición de cada género
total_count = top_20_genres['Count'].sum()
top_20_genres['Percentage'] = (top_20_genres['Count'] / total_count) * 100
# Imprimir los resultados
print(top_20_genres)

                        Genre  Count  Percentage
16                      Indie  15858   22.188952
18                     Action  11320   15.839257
15                     Casual   8282   11.588403
13                  Adventure   8242   11.532434
6                    Strategy   6957    9.734427
9                  Simulation   6699    9.373426
12                        RPG   5479    7.666368
2                Free to Play   2031    2.841831
0                Early Access   1462    2.045671
19                     Sports   1257    1.758829
4       Massively Multiplayer   1108    1.550344
10                     Racing   1083    1.515364
7   Design &amp; Illustration    460    0.643645
5                   Utilities    340    0.475737
14             Web Publishing    268    0.374993
21   Animation &amp; Modeling    183    0.256059
8                   Education    125    0.174903
1            Video Production    116    0.162310
11          Software Training    105    0.146919
3            Audio Production     93    0.130128

C:\Users\lgtqa\AppData\Local\Temp\ipykernel_14472\2664295613.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_20_genres['Percentage'] = (top_20_genres['Count'] / total_count) * 100

In [103]:
# Sumar las columnas y crear un DataFrame
onlyspecs=specs_games_df.drop(['id'],axis=1)
specs_sum_df = onlyspecs.sum().reset_index()
specs_sum_df.columns = ['Spec', 'Count']
# Convertir la columna "Count" a valores numéricos
specs_sum_df['Count'] = pd.to_numeric(specs_sum_df['Count'], errors='coerce')
# Ordenar el DataFrame por la columna "Count" de forma descendente
sorted_specs_df = specs_sum_df.sort_values(by='Count', ascending=False)
# Obtener los 20 géneros más comunes y sus recuentos
top_20_specs = sorted_specs_df.head(20)
# Calcular el porcentaje de aparición de cada género
total_count = top_20_specs['Count'].sum()
top_20_specs['Percentage'] = (top_20_specs['Count'] / total_count) * 100
# Imprimir los resultados
print(top_20_specs)

                          Spec  Count  Percentage
29               Single-player  25765   20.467581
21          Steam Achievements  15819   12.566531
13        Downloadable Content  12658   10.055449
14         Steam Trading Cards  11946    9.489840
16                 Steam Cloud   9743    7.739788
19                Multi-player   8007    6.360719
0      Full controller support   7101    5.640997
26  Partial Controller Support   6371    5.061089
18          Steam Leaderboards   5769    4.582863
6                        Co-op   4211    3.345196
30         Shared/Split Screen   3901    3.098934
5   Cross-Platform Multiplayer   2459    1.953417
17                       Stats   2196    1.744491
12         Online Multi-Player   2164    1.719070
25              Steam Workshop   1825    1.449770
8           Captions available   1612    1.280564
22       Includes level editor   1335    1.060517
1           Local Multi-Player   1150    0.913554
4                          MMO    928    0.737198
24                Online Co-op    922    0.732432

C:\Users\lgtqa\AppData\Local\Temp\ipykernel_14472\3698815393.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_20_specs['Percentage'] = (top_20_specs['Count'] / total_count) * 100

In [104]:
columnas_elegidas = [
    'id', 'Indie', 'Action', 'Casual', 'Adventure', 'Strategy', 'Simulation',
    'RPG', 'Free to Play', 'Early Access', 'Sports', 'Massively Multiplayer',
    'Racing']
# Crear un nuevo DataFrame con las columnas seleccionadas
genres_df = genres_games_df[columnas_elegidas]

In [105]:
genres_df.head()

,id,Indie,Action,Casual,Adventure,Strategy,Simulation,RPG,Free to Play,Early Access,Sports,Massively Multiplayer,Racing
0,761140.0,1,1,1,0,1,1,0,0,0,0,0,0
1,643980.0,1,0,0,0,1,0,1,1,0,0,0,0
2,670290.0,1,0,1,0,0,1,0,1,0,1,0,0
3,767400.0,0,1,1,1,0,0,0,0,0,0,0,0
4,772540.0,0,1,0,1,0,1,0,0,0,0,0,0

In [107]:
columnas_elegidas = ['id', 'Single-player','Multi-player', 'Full controller support',
                       'Partial Controller Support', 'Steam Leaderboards', 'Co-op',
                         'Cross-Platform Multiplayer','Online Multi-Player']

specs_df = specs_games_df[columnas_elegidas]

In [108]:
specs_df.head()

,id,Single-player,Multi-player,Full controller support,Partial Controller Support,Steam Leaderboards,Co-op,Cross-Platform Multiplayer,Online Multi-Player
0,761140.0,1,0,0,0,0,0,0,0
1,643980.0,1,1,0,0,0,0,1,1
2,670290.0,1,1,0,0,0,0,0,1
3,767400.0,1,0,0,0,0,0,0,0
4,772540.0,1,0,0,0,0,0,0,0

guardar los nuevos df

In [109]:
# guardo el archivo con solo los generos en un csv
nombre_archivo = "../fastapi/genres.csv"
genres_df.to_csv(nombre_archivo, index=False)

In [110]:
#guardo el archivo con solo los generos en un csv
nombre_archivo = "../fastapi/specs.csv"
specs_df.to_csv(nombre_archivo, index=False)

In [111]:
df_games.head()

,genres,app_name,release_date,specs,price,id,developer
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018,['Single-player'],4.99,761140.0,Kotoshiro
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018,"['Single-player', 'Multi-player', 'Online Mult...",0.00,643980.0,Secret Level SRL
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017,"['Single-player', 'Multi-player', 'Online Mult...",0.00,670290.0,Poolians.com
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,2017,['Single-player'],0.99,767400.0,彼岸领域
4,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018,"['Single-player', 'Steam Achievements']",3.99,772540.0,Trickjump Games Ltd

quitar generos y specs

In [113]:
df_games=df_games.drop(['genres','specs'],axis=1)

In [114]:
df_games.head(2)

              app_name  release_date  price        id         developer
0  Lost Summoner Kitty          2018   4.99  761140.0         Kotoshiro
1            Ironbound          2018   0.00  643980.0  Secret Level SRL

guardando df_games

In [ ]:
#guardo el df final
df_games.to_csv('../fastapi/gamesF.csv', index=False)

In [2]:
df_games=pd.read_csv('../fastapi/gamesF.csv')

In [3]:
# Lista las columnas en el orden deseado
nuevo_orden = ['app_name', 'release_date', 'developer', 'item_id', 'price']

# Reorganiza las columnas en el DataFrame
df_games = df_games[nuevo_orden]

In [4]:
df_games.head(2)

              app_name  release_date         developer   item_id  price
0  Lost Summoner Kitty          2018         Kotoshiro  761140.0   4.99
1            Ironbound          2018  Secret Level SRL  643980.0   0.00

In [ ]:
#guardo el df final
df_games.to_csv('../fastapi/gamesF.csv', index=False)